.navbar {
  font-weight: 400;
  transition: background 0.25s ease;
  -webkit-transition: background 0.25s ease;
  -moz-transition: background 0.25s ease;
  -ms-transition: background 0.25s ease;
  box-shadow: none;
  background: #f4f5f7;
}
.navbar-brand-wrapper {
  background: #f4f5f7;
  transition: width 0.25s ease, background 0.25s ease;
  -webkit-transition: width 0.25s ease, background 0.25s ease;
  -moz-transition: width 0.25s ease, background 0.25s ease;
  -ms-transition: width 0.25s ease, background 0.25s ease;
  width: 220px;
  height: 97px;
  padding: 20px 35px;
}

.navbar-menu-wrapper {
  background: #f4f5f7;
  transition: width 0.25s ease;
  -webkit-transition: width 0.25s ease;
  -moz-transition: width 0.25s ease;
  -ms-transition: width 0.25s ease;
  color: #6c7383;
  padding-left: 3.5rem;
  padding-right: 2.187rem;
  padding-top: 30px;
  padding-bottom: 25px;
  width: calc(100% - 220px);
  height: 97px;
}

.welcome-text {
 
  font-family: "Manrope", sans-serif;
  font-style: normal;
  color: #8f8e92;
  font-weight: 300;
  font-size: 30px;
 margin-top: -3%;
}
.span-john {
  color: black;
  font-weight: 600;
}
.performance-text {
  color: #8f8e92;
  font-weight: 300;
  font-size: 18px;
}

.navbar-nav {
    display: flex;
    flex-direction: row !important;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
.nav-item {
    margin-left: 1.25rem;
}
 .dropdown-bordered {
    padding: 8px 15px;
    border: 1px solid #DFDFDF;
    border-radius: 6px;
    font-style: normal;
text-align: center;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    font-family: "Manrope", sans-serif;
    min-width: 170px;
    height: 34px;
    background: #ffffff;
}
.messageDropdown{
    color: #000000;
}
.dropdown-toggle:after {
    position: absolute;
    right: 15px;
    top: 35%;
    margin-left: auto;
    color: #000000;
}
.dropdown .dropdown-toggle:after {
    /* border-top: 0;
    border-right: 0;
    border-left: 0;
    border-bottom: 0;
    font: normal normal normal 24px / 1 "themify";
    content: "\e64b";
    width: auto;
    height: auto;
    vertical-align: middle;
    line-height: .625rem;
    font-size: .5rem;
    margin-left: .3rem;
    font-weight: bold; */
}

.main-panel {
    transition: width 0.25s ease, margin 0.25s ease;
    width: calc(100% - 220px);
    min-height: calc(100vh - 97px);
    /* display: -webkit-flex; */
    display: flex;
    /* -webkit-flex-direction: column; */
    flex-direction: column;
}

.content-wrapper {
    background: #F4F5F7;
    padding: 1.5rem 2.187rem 1.5rem 3.5rem;
    width: 100%;
    /* -webkit-flex-grow: 1; */
    flex-grow: 1;
}

.home-tab {
    font-family: "Manrope", sans-serif;
}




