.DonutChart {
  position: relative;
  cursor: default;
  width: 500px;
  height: 500px;
  left: -94px;
  top: -132px;
}
@media only screen and (max-width: 1439px) and (min-width: 1024px) {
  .DonutChart {
    width: 250px !important;
    height: 250px !important;
    left: -38px;
    top: -70px;
  }
}
@media only screen and (max-width: 1023px) and (min-width: 768px) {
  .DonutChart {
    width: 500px !important;
    height: 500px !important;
    left: 33px;
    top: -150px;
  }
}
@media only screen and (max-width: 766px) and (min-width: 425px) {
  .DonutChart {
    width: 430px !important;
    height: 430px !important;
    left: -50px;
    top: -120px;
  }
  .apexChart {
    width: 360px;
    margin-left: -19px;
    margin-bottom: -45px;
  }
}
@media only screen and (max-width: 424px) and (min-width: 375px) {
  .DonutChart {
    width: 370px !important;
    height: 370px !important;
    left: -51px;
    top: -120px;
  }
  .apexChart {
    width: 305px;
    margin-left: -19px;
    margin-bottom: -45px;
  }
}
@media only screen and (max-width: 374px) and (min-width: 320px) {
  .DonutChart {
    width: 350px !important;
    height: 350px !important;
    left: -80px;
    top: -120px;
  }
  .apexChart {
    width: 250px;
    margin-left: -19px;
    margin-bottom: -45px;
  }
}
