.stretch-card {
  display: flex;
  align-items: stretch;
  justify-content: stretch;
}
.card.card-rounded {
  border-radius: 15px;
  box-shadow: none;
  border: none;
}
.stretch-card1 > .card {
  width: 100%;
  min-width: 100%;
}
.stretch-card2 > .card {
  width: 100%;
  min-width: 100%;
}
.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid #e3e3e3;
  border-radius: 20px;
}
.card .card-body {
  padding: 1.5rem 1.5rem;
}
.card-body {
  flex: 1 1 auto;
}
.card .card-title.card-title-dash {
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 22px;
  color: #1f1f1f;
  margin-bottom: 2px;
  text-transform: capitalize;
}

.text-gray,
.card .card-subtitle {
  color: #8c8c8c;
}

.dropdown {
  position: relative;
}
.dropdown .btn {
  border: none;
  font-weight: bold;
  font-size: 13px;
  line-height: 18px;
}
.dropdown .dropdown-toggle:after {
  border-top: 0;
  border-right: 0;
  border-left: 0;
  border-bottom: 0;
  font: normal normal normal 24px / 1 "themify";

  width: auto;
  height: auto;
  vertical-align: middle;
  line-height: 0.625rem;
  font-size: 0.5rem;
  margin-left: 0.3rem;
  font-weight: bold;
}
.btn-secondary {
  background: #f1f1f1;
  color: #1f1f1f;
}
.dropdown .dropdown-menu {
  margin-top: 2px;
  font-size: 0.812rem;
  box-shadow: 0px 1px 15px 1px rgba(230, 234, 236, 0.35);
}
.dropdown-menu {
  position: absolute;
  z-index: 1000;
  display: none;
  min-width: 10rem;
  padding: 0.5rem 0;
  margin: 0;
  font-size: 1rem;
  color: #212529;
  text-align: left;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #dee2e6;
  border-radius: 0.25rem;
}
.dropdown-header {
  display: block;
  padding: 0.5rem 1rem;
  margin-bottom: 0;
  font-size: 0.875rem;
  color: #1f1f1f;
  white-space: nowrap;
}
.dropdown .dropdown-menu .dropdown-item {
  font-size: 0.875rem;
  padding: 0.25rem 1.5rem;
}
.dropdown-divider {
  height: 0;
  margin: 0.5rem 0;
  overflow: hidden;
  border-top: 1px solid #dee2e6;
}
.chartjs-legend ul li {
  margin-right: 8%;
  display: flex;
  align-items: center;
  white-space: nowrap;
  color: #737f8b;
  font-size: 10px;
}
.chartjs-legend ul li span {
  height: 10px;
  width: 10px;
  border-radius: 100%;
  margin-right: 10px;
  display: inline-block;
  font-size: 0.812rem;
}

.card .card-title.card-title-dash {
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 22px;
  color: #1f1f1f;
  margin-bottom: 2px;
}
.card .card-title {
  text-transform: capitalize;
}
.card .card-subtitle {
  font-weight: 400;
  margin-top: 0.625rem;
  color: #8c8c8c;
  margin-bottom: 0.625rem;
}

.btn.btn-lg {
  font-size: 14px;
  line-height: 18px;
  padding: 10px;
}
.btn i {
  font-size: 1rem;
  margin-right: 0.25rem;
  line-height: 1;
  vertical-align: bottom;
}
.mdi:before,
.mdi-set {
  display: inline-block;
  font: normal normal normal 24px / 1 "Material Design Icons";
  font-size: inherit;
  text-rendering: auto;
  line-height: inherit;
  -webkit-font-smoothing: antialiased;
}
.table-responsive {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}
.table {
  margin-bottom: 0;
}
table {
  caption-side: bottom;
  border-collapse: collapse;
}
.table > thead {
  vertical-align: bottom;
}
thead,
tbody,
tfoot,
tr,
td,
th {
  border-color: inherit;
  border-style: solid;
  border-width: 0;
}
.table.select-table th .form-check {
  margin-bottom: 0;
  width: 20px;
}
.form-check {
  position: relative;
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 0;
}

.table > :not(:last-child) > :last-child > *,
.jsgrid .jsgrid-table > :not(:last-child) > :last-child > * {
  border-bottom-color: #dee2e6;
}
.table.select-table th {
  color: #a3a3a3;
  font-style: normal;
  font-weight: bold;
  font-size: 11px;
  line-height: 15px;
  text-transform: uppercase;
  padding-right: 5px;
  padding-left: 0;
}
.table thead th {
  border-top: 0;
  border-bottom-width: 1px;
}
.table th,
.table td {
  vertical-align: middle;
  white-space: nowrap;
  padding: 1.125rem 1.375rem;
}

.form-check-input[type="checkbox"] {
  border-radius: 0.25em;
}
.form-check .form-check-input {
  float: left;
}
.form-check-input {
  width: 1em;
  height: 1em;
  vertical-align: top;
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border: 1px solid rgba(0, 0, 0, 0.25);
  appearance: none;
}
.table thead th i {
  margin-left: 0.325rem;
}
.form-check .form-check-label input[type="checkbox"] + .input-helper:before {
  content: "";
  width: 18px;
  height: 18px;
  border-radius: 2px;
  border: none;
  border-width: 2px;
  -webkit-transition: all;
  -moz-transition: all;
  -ms-transition: all;
  -o-transition: all;
  transition: all;
  transition-duration: 0s;
  -webkit-transition-duration: 250ms;
  transition-duration: 250ms;
  background: #ebedf2;
}
.table.select-table tr td:first-child {
  padding-right: 10px;
}
.table.select-table td {
  font-family: Manrope;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  color: #8d8d8d;
  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 0;
}
.form-check .form-check-label {
  min-height: 18px;
  display: block;
  margin-left: 1.75rem;
  font-size: 0.812rem;
  line-height: 1.5;
}
.table.select-table td img {
  width: 44px;
  height: 44px;
  border-radius: 10px;
  margin-right: 15px;
}
.table.select-table td h6,
.table.select-table td .h6 {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 18px;
  color: #000000;
  margin-bottom: 5px;
}
.table.select-table td p {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  color: #737f8b;
  margin-bottom: 0;
}
.table.select-table td .max-width-progress-wrap {
  width: 120px;
}
.table.select-table td p {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  color: #737f8b;
  margin-bottom: 0;
}
.table.select-table td p {
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
  color: #737f8b;
  margin-bottom: 0;
}
.progress.progress-md {
  height: 5px;
}
.progress {
  border-radius: 7px;
  height: 8px;
}
.progress {
  display: flex;

  overflow: hidden;
  font-size: 0.75rem;
  background-color: #e9ecef;
}
.progress .progress-bar {
  border-radius: 7px;
}
.progress-bar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  background-color: #0d6efd;
  transition: width 0.6s ease;
}
.table td .badge {
  margin-bottom: 0;
}
.badge-opacity-warning {
  background: #fff2d6;
  color: #cc8c00;
}

.badge {
  border-radius: 20px;
  font-size: 12px;
  line-height: 1;
  padding: 0.375rem 0.5625rem;
  font-weight: normal;
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
}
.badge-opacity-danger {
  background: white;
  color: #f73122;
}
.badge-opacity-success {
  background: #cbf0ee;
  color: #288a84;
}
.text-muted {
  --bs-text-opacity: 1;
  color: #737f8b !important;
  font-weight: 200;
}
.mdi:before,
.mdi-set {
  display: inline-block;
  font: normal normal normal 24px / 1 "Material Design Icons";
  font-size: inherit;
  text-rendering: auto;
  line-height: inherit;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.text-small {
  font-size: 12px;
  font-weight: 300;
}
p {
  font-size: 0.812rem;
  margin-bottom: 0.5rem;
  line-height: 1.3rem;
  font-weight: 500;
}

.bullet-line-list {
  padding-left: 30px;
  position: relative;
  list-style-type: none;
  margin-bottom: 0;
}
.bullet-line-list li {
  position: relative;
  padding-bottom: 10px;
}
.bullet-line-list li:before {
  content: "";
  position: absolute;
  border-radius: 100%;
}
.bullet-line-list li:before {
  width: 13px;
  height: 13px;
  left: -28px;
  top: 6px;
  border: 4px solid #e9edfb;
  margin-right: 15px;
  z-index: 2;
  background: #1f3bb3;
}
.text-light-green {
  color: #224bca;
  font-weight: 400;
}
.second-text {
  font-weight: 400;
}
.img-sm.rounded-10 {
  border-radius: 10px;
}
.img-sm {
  width: 43px;
  height: 43px;
}
.btn.btn-icons {
  width: 24px;
  height: 24px;
  padding: 0;
  padding-top: 1px;
}
.btn {
  padding: 8px 15px;
  border: 1px solid #caddff;
  box-sizing: border-box;
  border-radius: 6px;
  color: #000000;
  font-weight: 500;
  font-size: 12px;
  line-height: 12px;
  margin-bottom: 12px;
  margin-right: 12px;
  align-items: center;
}
.btn.btn-icons.todo-list-add-btn {
  border-radius: 100%;
}
.btn.btn-icons.todo-list-add-btn i {
  line-height: 1;
  font-size: 14px;
  margin: auto;
}
.list-wrapper {
  height: 100%;
  max-height: 100%;
}
.list-wrapper ul {
  padding: 0;
  text-align: left;
  list-style: none;
  margin-bottom: 0;
}
.list-wrapper ul li {
  font-size: 0.9375rem;
  padding: 0.4rem 0;
  border-bottom: 1px solid #dee2e6;
}
.list-wrapper ul li .form-check.w-100 {
  max-width: 100%;
}

.list-wrapper input[type="radio"] {
  margin-left: -25px;
  font-size: 29px;
  height: 20px;
  width: 17px;
  accent-color: white;
  background: white;
  border: 2px solid white;
  transition: all;
  transition-duration: 250ms;
  position: absolute;
}
.lorem-text {
  font-weight: 300;
}

.stretch-card > .card {
  width: 100%;
  min-width: 100%;
}
.todo-card > .card {
  width: 100%;
  min-width: 100%;
}
.chartjs-legend ul {
  list-style: none;
  padding-left: 0;
  display: flex;
  align-items: center;
  margin: -278px 0 0 0;
}
.doughnut-chart {
  margin-top: 52px;
}
.recent-card {
  padding: 30px 23px 105px 23px;
}
.activity-card {
  padding: 30px 23px 105px 23px;
}
.leave-report {
  margin: -28px 0 -30px 0;
}
.last-week ul {
  list-style: none;
  padding-left: 0;
  display: flex;
  align-items: center;
  margin-bottom: 0;
  position: absolute;
  top: 120px;
  right: 37px;
}
.last-week ul li {
  margin-right: 8%;
  display: flex;
  align-items: center;
  white-space: nowrap;
  color: #737f8b;
  font-size: 10px;
}
.last-week ul li span {
  height: 10px;
  width: 10px;
  border-radius: 100%;
  margin-right: 10px;
  display: inline-block;
  font-size: 0.812rem;
}
@media only screen and (max-width: 2560px) and (min-width: 1440px) {
  .list-wrapper ul li .form-check .form-check-label {
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 100%;
    white-space: nowrap;
  }
}
@media only screen and (max-width: 1439px) and (min-width: 1024px) {
  .mdi-flag {
    display: none;
  }
  .doughnut-chart {
    margin-top: 180px;
    margin-left: 16px;
  }
  .list-wrapper ul li .form-check .form-check-label {
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 100%;
    white-space: nowrap;
  }
  .recent-card {
    padding: 30px 23px 183px 23px;
  }
  .activity-card {
    padding: 30px 23px 25px 23px;
  }
  .form-check {
    margin-left: -5px;
  }
  .todo-card > .card {
    width: 100%;
    min-width: 112%;
  }
  .Performer-card > .card {
    width: 100%;
    min-width: 112%;
    padding: 30px 23px 55px 23px;
  }
  .badge {
    /* text-overflow: ellipsis; */
    overflow: hidden;
    max-width: 27%;
  }
}
@media only screen and (max-width: 1023px) and (min-width: 768px) {
  .doughnut-chart {
    margin-top: 33px;
  }
  .last-week ul {
    position: absolute;
    top: 124px;
  }
  .stretch-card > .card {
    width: 100%;
    min-width: 109%;
    margin-left: -6%;
  }
  .form-check {
    margin-left: -5px;
  }
  .recent-card {
    padding: 30px 23px 23px 23px;
  }
  .activity-card {
    padding: 30px 23px 23px 23px;
  }
  .stretch-card1 > .card {
    width: 100%;
    min-width: 107%;
    margin-left: -35px;
  }
  .stretch-card2 > .card {
    width: 100%;
    min-width: 107%;
    margin-left: -5px;
  }
  .todo-card > .card {
    width: 100%;
    min-width: 107%;
    margin-left: -35px;
  }
  .Performer-card > .card {
    width: 100%;
    min-width: 107%;
    margin-left: -34px;
  }
}

@media only screen and (max-width: 766px) and (min-width: 425px) {
  .doughnut-chart {
    margin-top: 82px;
  }
  .last-week ul {
    position: absolute;
    top: 255px;
    left: 25px;
  }
  .market-overviewText {
    word-spacing: 10px;
  }
  .market-overviewText {
    word-spacing: 1px;
  }

  .form-check {
    margin-left: -5px;
  }
  .list-wrapper ul li .form-check .form-check-label {
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 100%;
    white-space: nowrap;
  }
  .recent-card {
    padding: 30px 23px 23px 23px;
  }
  .activity-card {
    padding: 30px 23px 23px 23px;
  }
  .stretch-card > .card {
    width: 100%;
    min-width: 103%;
  }
  .stretch-card1 > .card {
    width: 100%;
    min-width: 104%;
  }
  .stretch-card2 > .card {
    width: 100%;
    min-width: 104%;
  }
  .todo-card > .card {
    width: 100%;
    min-width: 104%;
  }
  .Performer-card > .card {
    width: 100%;
    min-width: 104%;
  }
}

@media only screen and (max-width: 424px) and (min-width: 375px) {
  .doughnut-chart {
    margin-top: 110px;
  }
  .last-week ul {
    position: absolute;
    top: 272px;
    left: 25px;
  }
  .market-overviewText {
    word-spacing: 10px;
  }
  .stretch-card > .card {
    width: 100%;
    min-width: 105%;
    margin-left: -1%;
  }
  .form-check {
    margin-left: -5px;
  }
  .list-wrapper ul li .form-check .form-check-label {
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 100%;
    white-space: nowrap;
  }
  .recent-card {
    padding: 30px 23px 23px 23px;
  }
  .activity-card {
    padding: 30px 23px 23px 23px;
  }
  .stretch-card1 > .card {
    width: 100%;
    min-width: 105%;
    margin-left: -1%;
  }
  .stretch-card2 > .card {
    width: 100%;
    min-width: 105%;
    margin-left: -1%;
  }
  .todo-card > .card {
    width: 100%;
    min-width: 105%;
    margin-left: -1%;
  }
  .Performer-card > .card {
    width: 100%;
    min-width: 105%;
    margin-left: -1%;
  }
}
@media only screen and (max-width: 374px) and (min-width: 320px) {
  .mdi-flag {
    display: none;
  }
  .badge {
    overflow: visible;
    max-width: 39%;
  }

  .doughnut-chart {
    margin-top: 130px;
  }
  .last-week ul {
    position: absolute;
    top: 272px;
    left: 25px;
  }
  .market-overviewText {
    word-spacing: 13px;
  }
  .stretch-card > .card {
    width: 100%;
    min-width: 105%;
  }
  .stretch-card1 > .card {
    width: 100%;
    min-width: 105%;
  }
  .stretch-card2 > .card {
    width: 100%;
    min-width: 105%;
  }
  .todo-card > .card {
    width: 100%;
    min-width: 105%;
  }
  .Performer-card > .card {
    width: 100%;
    min-width: 105%;
  }
  .form-check {
    margin-left: -5px;
  }
  .list-wrapper ul li .form-check .form-check-label {
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 100%;
    white-space: nowrap;
  }

  .recent-card {
    padding: 30px 23px 23px 23px;
  }
  .activity-card {
    padding: 30px 23px 23px 23px;
  }
}
