@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

body {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.navbarToggler {
  border: 0;
  padding: 0;
  cursor: pointer;
  width: 30px;
  height: 35px;
  outline: none;
  position: absolute;
  top: 26px;
  right: 65px;
  display: none;
}
.collapseNavbar {
  position: absolute;
  top: 10px;
  right: 300px;
}

.navbarToggler .navbarTogglerIcon {
  display: block;
  width: 30px;
  height: 12px;
  position: relative;
}

.navbarTogglerIcon {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  vertical-align: middle;
  background-image: var(--bs-navbar-toggler-icon-bg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}

.navbarToggler .navbarTogglerIcon:before,
.navbarToggler .navbarTogglerIcon:after {
  position: absolute;
  right: 0;
  left: 0;
  background: white;
  width: 40px;
  height: 2px;
  content: "";
  transition: top 300ms 350ms ease, transform 300ms 50ms ease;
}
.menuIcon {
  position: absolute;
  color: white;
  font-size: 37px;
  top: -18px;
  right: 0px;
}

.NavBar {
  z-index: 99;
  padding: 25px 0;
  padding-bottom: 15px;
  background-color: black;
}

.transparentBg {
  background-color: transparent;
}

.blackBg {
  background-color: black;
}

.stickyWrapper {
  position: fixed;
  z-index: 111;
  width: 1517px;
}

.active {
  color: #e46e51 !important;
}

.inactive {
  color: #ffffff;
}

.btnNaira {
  text-decoration: none;
  padding: 0;
  position: relative;
  z-index: 1;
  overflow: hidden;
  top: -10px;
  /* -webkit-backface-visibility: hidden;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s; */
}

.navbarBookIcon {
  background-color: #e9c46a;
  border-radius: var(--border-radius-large);
  display: inline-block;
  vertical-align: top;
  color: white;
  font-size: var(--h6-font-size);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  line-height: 40px;
  text-align: center;
  position: relative;
}
.DownBtnDiv {
  display: block;
  border-radius: 20px;
  border-color: #f4a261;
  border: 2px solid #f4a261;
  padding: 6px 20px;
  position: absolute;
  top: 20px;
  right: 115px;
}
.DownBtnDiv:hover {
  background-color: #e76f51;
  padding: 5px 20px;
  border-color: #e76f51;
  border: 2px solid #e76f51;
  transition: background-color 0.3s ease;
}

.squareTriangle {
  content: "";
  position: absolute;
  z-index: -1;
  top: 10px;
  right: -12px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 20px 20px;
  background-color: #e9c46a;
  border-color: #e9c46a;

  pointer-events: none;
  transform: rotate(48deg);
}
.bookText {
  font-weight: bolder;
  color: white;
  font-size: 30px;
  padding-left: 8px;
}
.navbarIcon {
  color: white;
  font-weight: bold;
  margin: 10px;
}
.navbarIcon:hover {
  color: #e76f51;
  font-weight: bold;
}

.DownloadBtn {
  color: #d6915b;
}

.downloadAnchor {
  color: #d6915b;
  text-decoration: none;
}

.treeIcon {
  color: white;
  padding: 5px 35px;
}

@media only screen and (max-width: 1023px) and (min-width: 768px) {
  .stickyWrapper {
    width: 800px;
  }
  .navbarToggler {
    display: block;
  }
  .collapseNavbar {
    position: relative;
    top: -6px;
    left: -13px;
    height: 347px;
    /* position: unset; */
  }
  .navbarIcon {
    margin: 0px;
  }
  .transparentBg {
    background-color: black;
  }
  .btnNaira {
    position: relative;

    left: -18px;
  }
}

@media only screen and (max-width: 1439px) and (min-width: 1024px) {
  .stickyWrapper {
    width: 1020px;
  }
  .navbarIcon {
    margin: 10px 30px 10px 0px;
  }
  .DownBtnDiv {
    position: absolute;
    right: 35px;
  }
  .collapseNavbar {
    position: absolute;
    right: 155px;
  }
}
@media only screen and (max-width: 2558px) and (min-width: 1440px) {
  .btnNaira {
    left: -3%;
  }
  .ebookIntro {
    margin-top: 2%;
  }
  .DownBtnDiv{
    position: absolute;
    right: 147px;
    font-size: 19px;
  }
}

@media only screen and (min-width: 2560px) {
  .stickyWrapper {
    width: 2560px;
  }
}
