.ui-part {
  background-color: #3b71ca;
  height: 48vw;
}

.ui-link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  margin-top: 200px;
}
.link-first {
  text-decoration: none;
  margin: 10px 0;
  color: #e4e9f0;
  
}
.link-second {
  text-decoration: none;
  margin: 10px 0;
  color: #e4e9f0;
}
.link-third {
  text-decoration: none;
  margin: 10px 0;
  color: #e4e9f0;
}
.link-fourth {
  text-decoration: none;
  margin: 10px 0;
  color: #e4e9f0;
}
.text-head{
color: #e4e9f0;
}