.ftco-section1 {
  padding: 8em 0;
  position: relative;
  width: 100%;
  margin: -130px 0;
}
.img {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
[data-aos^="fade"][data-aos^="fade"].aos-animate {
  opacity: 1;
  transform: translateZ(0);
}
[data-aos][data-aos][data-aos-duration="1000"] {
  transition-duration: 1s;
}
.heading-section .subheading {
  font-size: 13px;
  display: block;
  margin-bottom: 5px;
  color: rgba(0, 0, 0, 0.3);
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.heading-section h2 {
  font-size: 38px;
  font-weight: 500;
  line-height: 1.4;
}
a,
button {
  /* -webkit-transition: .3s all ease; */
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
  color: #cf7500;
  text-decoration: none;
}
.ftco-section1 p {
  margin-top: 0;
  color: #848786;
  font-size: 17px;
  line-height: 28px;
}
.ftco-image .icon {
  width: 80px;
  height: 80px;
  background: #cf7500;
  border-radius: 50%;
  position: relative;
  -webkit-animation: pulse 2s infinite;
  animation: pulse 2s infinite;
}
.ftco-image .icon span {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: #fff;
}
@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(207, 117, 0, 0.1);
    -webkit-box-shadow: 0 0 0 0 rgba(207, 117, 0, 0.4);
    box-shadow: 0 0 0 0 rgba(207, 117, 0, 0.4);
  }
  70% {
    -moz-box-shadow: 0 0 0 30px rgba(207, 117, 0, 0);
    -webkit-box-shadow: 0 0 0 30px rgba(207, 117, 0, 0);
    box-shadow: 0 0 0 30px rgba(207, 117, 0, 0);
  }
  100% {
    -moz-box-shadow: 0 0 0 0 rgba(207, 117, 0, 0);
    -webkit-box-shadow: 0 0 0 0 rgba(207, 117, 0, 0);
    box-shadow: 0 0 0 0 rgba(207, 117, 0, 0);
  }
}
