.ftco-footer {
    padding: 7em 0 0 0;
    position: relative;
    z-index: 0;
    background: #d4eaf5;
    margin-top: 130px;
}
@media (min-width: 1400px) {
    .container, .container-xl {
        max-width: 1200px;
    }
}
@media (min-width: 1200px) {
    .container, .container-xl {
        max-width: 1140px;
    }
}
 .container-xl {
    width: 100%;
    padding-right: var(--bs-gutter-x, 0.75rem);
    padding-left: var(--bs-gutter-x, 0.75rem);
    margin-right: auto;
    margin-left: auto;
}
@media (min-width: 992px) {
    .col-lg {
        -webkit-box-flex: 1;
        -ms-flex: 1 0 0%;
        flex: 1 0 0%;
    }
}
@media (min-width: 768px) {
    .col-md-6 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: 50%;
    }
}
.ftco-footer .ftco-footer-widget h2{
    margin-bottom: 40px;
    font-size: 20px;
    font-weight: 500;
    font-family: "Poppins", Arial, sans-serif;
}
.ftco-footer .logo a {
    position: relative;
    text-decoration: none;
    color: #000000;
    font-size: 22px;
}
.navbar-brand {
    font-weight: 700;
    /* font-size: 20px; */
    /* color: #fff; */
    z-index: 3;
    /* position: relative; */
    line-height: 1.1;
}
.navbar-brand {
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    /* font-size: 1.25rem; */
    /* text-decoration: none; */
    white-space: nowrap;
}
a, button {
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
    color: #cf7500;
    text-decoration: none;
}
p {
    margin-top: 0;
    margin-bottom: 1rem;
}
.ftco-footer-social {
    padding: 0 !important;
    margin: 0;
    position: relative;
}
.ftco-footer-social li {
    list-style: none;
    margin: 0 0 0 0;
    display: inline-block;
    height: 30px;
    width: 30px;
    padding-left: 0 !important;
}
.ftco-footer-social li a {
    margin: 0;
    height: 30px;
    width: 30px;
    display: block;
    color: #fff;
    border-radius: 4px;
    position: relative;
    background: #6db7dd;
}
.ftco-footer-social li a span {
    position: absolute;
    font-size: 17px;
    top: 50%;
    left: 50%;
    /* -webkit-transform: translate(-50%, -50%); */
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    color: #fff !important;
}
.ftco-footer .ftco-footer-widget h2 {
    margin-bottom: 40px;
    font-size: 20px;
    font-weight: 500;
    font-family: "Poppins", Arial, sans-serif;
}
 h2{
    line-height: 1.5;
    color: #052c43;
    font-weight: 400;
}
.list-unstyled {
    padding-left: 0;
    list-style: none;
}
.ftco-footer .ftco-footer-widget ul.list-unstyled li {
    margin-bottom: 10px;
    position: relative;
    padding-left: 20px;
}
 ul.list-unstyled li a {
    color: rgba(0, 0, 0, 0.4);
   
    transition: all 0.3s ease;
}
 ul.list-unstyled li a span.ion {
    font-size: 14px;
    color: #81c2e2;
    position: absolute;
    top: -2px;
    left: 0;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.ftco-footer .block-21 .blog-img {
    display: block;
    height: 50px;
    width: 50px;
}
.block-21 .blog-img {
    display: block;
    height: 80px;
    width: 80px;
}
.img, .blog-img, .user-img {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.ftco-footer .block-21 .text {
    width: calc(100% - 50px);
    padding-left: 20px;
}
.block-21 .text {
    width: calc(100% - 90px);
}
.ftco-footer .block-21 .text .meta > div {
    display: inline-block;
    font-size: 12px;
    margin-right: 5px;
}
.block-21 .text .meta > div {
    display: inline-block;
    font-size: 12px;
    margin-right: 5px;
}
.ftco-footer .block-21 .text .meta > div a {
    color: rgba(0, 0, 0, 0.7);
}
.block-21 .text .meta > div a {
    color: gray;
    color: #cf7500;
}
.ftco-footer .block-21 .text .meta > div .fa {
    color: #6db7dd;
}
.fa {
    display: inline-block;
    font: normal normal normal 14px / 1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    
}

.ftco-footer .block-21 .text .heading {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 0;
}
.block-21 .text .heading {
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 0;
}
 .h3 {
    line-height: 1.5;
    color: #052c43;
    font-weight: 400;
}

.ftco-footer .block-21 .text .heading a {
    color: #052c43;
}
.block-21 .text .heading a {
    color: #000000;
}
.ftco-footer .block-23 ul {
    padding: 0;
}
.ftco-footer .block-23 ul li{
    display: table;
    line-height: 1.5;
    margin-bottom: 15px;
    font-size: 15px;
}
.ftco-footer .block-23 ul li {
    /* font-size: 15px; */
    padding-left: 0;
}
.ftco-footer .block-23 ul li .icon {
    width: 40px;
    font-size: 15px;
    padding-top: 2px;
    color: #81c2e2 !important;
}
.ftco-footer .block-23 ul li .icon {
    display: table-cell;
    vertical-align: top;
   
}
ul li .text {
    display: table-cell;
    vertical-align: top;
    color: rgba(0, 0, 0, 0.9) !important;
    font-weight: 300;
}
.ftco-footer .bg-secondary {
    background: #abd6eb !important;
}
.ftco-footer .bg-secondary p a {
    color: #6db7dd;
}