.ftco-section6 {
  padding: 8em 0;
  position: relative;
  width: 100%;
}
@media (min-width: 1400px) {
  .container,
  .container-xl {
    max-width: 1200px;
  }
}
@media (min-width: 1200px) {
  .container,
  .container-xl {
    max-width: 1140px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
.container {
  width: 100%;
  padding-right: var(--bs-gutter-x, 0.75rem);
  padding-left: var(--bs-gutter-x, 0.75rem);
  margin-right: auto;
  margin-left: auto;
}
[data-aos^="fade"][data-aos^="fade"].aos-animate {
  opacity: 1;
  transform: translateZ(0);
}
[data-aos][data-aos][data-aos-duration="1000"],
body[data-aos-duration="1000"] [data-aos] {
  transition-duration: 1s;
}
[data-aos][data-aos][data-aos-easing="ease"],
body[data-aos-easing="ease"] [data-aos] {
  transition-timing-function: ease;
}
[data-aos][data-aos][data-aos-duration="400"],
body[data-aos-duration="400"] [data-aos] {
  transition-duration: 0.4s;
}
[data-aos^="fade"][data-aos^="fade"] {
  opacity: 0;
  transition-property: opacity, transform;
}
.heading-section .subheading {
  font-size: 13px;
  display: block;
  margin-bottom: 5px;
  color: rgba(0, 0, 0, 0.3);
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.heading-section h2,
.heading-section .h2 {
  font-size: 38px;
  font-weight: 500;
  line-height: 1.4;
}
[data-aos][data-aos][data-aos-delay="100"].aos-animate,
body[data-aos-delay="100"] [data-aos].aos-animate {
  transition-delay: 0.1s;
}
[data-aos^="fade"][data-aos^="fade"].aos-animate {
  opacity: 1;
  transform: translateZ(0);
}
[data-aos][data-aos][data-aos-duration="1000"],
body[data-aos-duration="1000"] [data-aos] {
  transition-duration: 1s;
}
[data-aos][data-aos][data-aos-delay="100"],
body[data-aos-delay="100"] [data-aos] {
  transition-delay: 0;
}
[data-aos][data-aos][data-aos-easing="ease"],
body[data-aos-easing="ease"] [data-aos] {
  transition-timing-function: ease;
}
[data-aos][data-aos][data-aos-duration="400"],
body[data-aos-duration="400"] [data-aos] {
  transition-duration: 0.4s;
}
[data-aos^="fade"][data-aos^="fade"] {
  opacity: 0;
  transition-property: opacity, transform;
}

.flow-wrap {
  width: 100%;
  margin-bottom: 0px;
  position: relative;
  z-index: 0;
  padding: 20px;
  z-index: 0;
  transition: all 0.3s ease;
}
 .icon1 {
  width: 130px;
  height: 130px;
  background: #fff;
  margin: 0 auto;
  margin-bottom: 30px;
  border-radius: 50%;
  position: relative;
  -webkit-box-shadow: 0px 5px 25px -2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0px 5px 25px -2px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 5px 25px -2px rgba(0, 0, 0, 0.05);
}
.icon2 {
    width: 130px;
    height: 130px;
    background-color: #81c2e2;
    margin: 0 auto;
    margin-bottom: 30px;
    border-radius: 50%;
    position: relative;
    -webkit-box-shadow: 0px 5px 25px -2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0px 5px 25px -2px rgba(0, 0, 0, 0.05);
    box-shadow: 0px 5px 25px -2px rgba(0, 0, 0, 0.05);
  }
 .icon1 > div {
  position: absolute;
  top: 2px;
  right: 4px;
  content: "";
  width: 30px;
  height: 30px;
  background: #cf7500;
  color: white;
  border-radius: 50%;
}
.icon2 > div {
    position: absolute;
    top: 2px;
    right: 4px;
    content: "";
    color: white;
    width: 30px;
    height: 30px;
    background: #cf7500;
    border-radius: 50%;
  }
.flow-wrap .icon > div small {
  color: #fff;
}
small {
  font-size: 0.875em;
}
.flaticon-package{
    font-size: 70px;
    line-height: 1.2;
    color: #cf7500;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.flaticon-calculator {
    font-size: 70px;
    line-height: 1.2;
    color: #cf7500;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.flaticon-production  {
    font-size: 70px;
    line-height: 1.2;
    background-color: #81c2e2;
    color: black;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before, [class^="flaticon-"]:after, [class*=" flaticon-"]:after {
    font-family: Flaticon;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.flow-wrap .text {
    width: 100%;
}
.flow-wrap .text h2 {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 10px;
    font-family: "Poppins", Arial, sans-serif;
}
@media (min-width: 768px) {
    .flow-wrap.flow-wrap-right:after {
        position: absolute;
        top: 80px;
        right: -131px;
        content: '';
        width: 67%;
        height: 1px;
        border-bottom: 1px dashed #cccccc;
        z-index: -1;
    }
}
@media (min-width: 768px) {
    .flow-wrap.flow-wrap-2:after {
        position: absolute;
        top: 80px;
        left: 255px;
        right: 0;
        content: '';
        width: 70%;
        height: 1px;
        border-bottom: 1px dashed #cccccc;
        z-index: -1;
    }
}
.ftco-section6 p {
  margin-top: 0;
  color: #848786;
  font-size: 17px;
  line-height: 28px;
}
.btn.btn-primary {
    background: #cf7500 !important;
    border: 1px solid #cf7500 !important;
    color: #fff !important;
}
.btn {
  padding: 19px 21px !important;
    cursor: pointer;
    border-radius: 40px;
    /* -webkit-box-shadow: 0px 24px 36px -11px rgba(0, 0, 0, 0.09); */
    -moz-box-shadow: 0px 24px 36px -11px rgba(0, 0, 0, 0.09);
    box-shadow: 0px 24px 36px -11px rgba(0, 0, 0, 0.09);
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.btn.btn-secondary {
    background: #6db7dd !important;
    border: 1px solid #6db7dd !important;
    color: #fff !important;
}