/* .ftco-section-counter {
  padding: 5em 0;
  position: relative;
  z-index: 0;
  margin-top: -128px;
}

.img {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.ftco-section-counter .overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 1;
  background: #d4eaf5;
  z-index: -1;
}
@media (min-width: 1400px) {
  .container,
  .container-xl {
    max-width: 1200px;
  }
}
@media (min-width: 1200px) {
  .container,
  .container-xl {
    max-width: 1140px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
.container {
  width: 100%;
  padding-right: var(--bs-gutter-x, 0.75rem);
  padding-left: var(--bs-gutter-x, 0.75rem);
  margin-right: auto;
  margin-left: auto;
}
[data-aos^="fade"][data-aos^="fade"].aos-animate {
  opacity: 1;
  transform: translateZ(0);
}
[data-aos][data-aos][data-aos-duration="1000"],
body[data-aos-duration="1000"] [data-aos] {
  transition-duration: 1s;
}
body[data-aos-easing="ease"] [data-aos] {
  transition-timing-function: ease;
}
body[data-aos-duration="400"] [data-aos] {
  transition-duration: 0.4s;
}
[data-aos^="fade"][data-aos^="fade"] {
  opacity: 0;
  transition-property: opacity, transform;
}
@media (min-width: 768px) {
  .col-md-6 {
    -webkit-box-flex: 0;

    flex: 0 0 auto;
    width: 50%;
  }
}
.heading-section .subheading {
  font-size: 13px;
  display: block;
  margin-bottom: 5px;
  color: rgba(0, 0, 0, 0.3);
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.heading-section h2,
.heading-section .h2 {
  font-size: 38px;
  font-weight: 500;
  line-height: 1.4;
}
@media (min-width: 1200px) {
  h2,
  .h2 {
    font-size: 2rem;
  }
}
.align-items-stretch {
  -webkit-box-align: stretch !important;

  align-items: stretch !important;
}
@media (min-width: 992px) {
  .col-lg-3 {
    -webkit-box-flex: 0;

    flex: 0 0 auto;
    width: 25% !important;
  }
}
@media (min-width: 768px) {
  .col-md-6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 50%;
  }
}
@media (min-width: 576px) {
  .col-sm-6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 50%;
  }
}
.section-counter .number {
  font-size: 40px;
  font-weight: 600;
  color: #000000;
  line-height: 1;
  text-align: center;

  margin-bottom: 5px;
  display: block;
  letter-spacing: 5px;
}
.section-counter .caption {
  font-weight: 700;
  font-size: 14px;
  display: block;
  color: rgba(0, 0, 0, 0.4);
  text-transform: uppercase;
} */
