@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

body {
  font-family: sans-serif, "Roboto", "Poppins";
}
.heroSection {
  background-image: url("../../../Images/businessman-sitting-by-table-cafe.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  height: calc(90vh - 88px);
  padding-top: 350px;
}

.heroSection::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  pointer-events: none;
  background-color: rgba(0, 0, 0, 0.45);
}
.featuredSection {
  background-color: #f4a261;
  position: relative;
  padding-top: 50px;
  padding-bottom: 50px;
}
.featuredSection::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 450px 450px;
  border-color: transparent transparent #ffffff transparent;
  pointer-events: none;
}

.homeText {
  margin-top: 80px;
  z-index: 2;
}
.ebookIntro {
  color: #e9c46a;
  font-weight: bolder;
  font-size: 25px;
}
.ebookLand {
  font-weight: bolder;
  font-size: 45px;
  font-family: var(--body-font-family);
}
.Discover {
  text-decoration: none;
  color: white;
  font-weight: bolder;
}
.Discover:hover {
  text-decoration: none;
  color: white;
  font-weight: bolder;
}

.DiscoverDiv {
  border-radius: 20px;
  background-color: #f4a261;
  color: white;
  border-color: #f4a261;
  border: 2px solid #f4a261;
  padding: 6px 19px 8px 22px;
}

.DiscoverDiv:hover {
  border-radius: 20px;
  background-color: #e76f51;
  color: white;

  padding: 8px 19px 10px 22px;
  border: 2px solid #e76f51;
}

.MeetAuthor {
  cursor: pointer;
  position: relative;
  white-space: nowrap;
  color: white;
  margin-left: 15px;
  text-decoration: none;
  padding: 10px 0 0 10px;
  cursor: pointer;
  background-position: 0% 100%;
  background-size: 100% 200%;
  transition: background-position 0.2s ease;
  overflow: hidden;
}

.MeetAuthor::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 10px;
  top: 34px;
  width: 92%;
  color: #e76f51;
  height: 12px;
  background: #e76f51;
  transform: scaleY(0);
  transform-origin: bottom;

  transition: transform 0.2s ease, height 0.2s ease;
}
a:hover {
  color: #e76f51;
}
.MeetAuthor:hover::after {
  transform: scaleY(1);
  color: #e76f51;
  animation: lineUp 0.3s ease forwards;
}

@keyframes lineUp {
  0% {
    transform-origin: 50% 100%;
    transform: scale3d(1, 0.045, 1);
  }

  50% {
    transform-origin: 50% 100%;
    transform: scale3d(1, 1, 1);
  }

  51% {
    transform-origin: 50% 0%;
    transform: scale3d(1, 1, 1);
  }

  100% {
    transform-origin: 50% 0%;
    transform: scale3d(1, 0.045, 1);
  }
}

.imgFluid {
  max-width: 100%;
  height: auto;
  position: relative;
  z-index: 2;
  height: auto;
  /* bottom: 100px; */
  display: block;
  margin: auto;
}
.avatarGroup,
.reviewsGroup {
  position: relative;
  z-index: 22;
}
.avatarImage {
  border: 4px solid #ffffff;
  border-radius: 100px;
  width: 60px;
  height: 60px;
  object-fit: cover;
}

.avatarImageLeft {
  position: relative;
  left: -10px;
  border: 4px solid #ffffff;
  border-radius: 100px;
  width: 60px;
  height: 60px;
  object-fit: cover;
}

.avatarImageLeft2 {
  position: relative;
  left: -20px;
  border: 4px solid #ffffff;
  border-radius: 100px;
  width: 60px;
  height: 60px;
  object-fit: cover;
}

.avatarImageLeft3 {
  position: relative;
  left: -30px;
  border: 4px solid #ffffff;
  border-radius: 100px;
  width: 60px;
  height: 60px;
  object-fit: cover;
}
.reviewsGroup {
  display: inline-block;
  vertical-align: top;
  position: relative;
  z-index: 22;
}

.biStarFill {
  font-size: 18px;
}

.rating {
  font-weight: bolder;
  font-size: 30px;
}
.review {
  font-size: 16px;
  font-weight: 600;
}

@media only screen and (max-width: 1023px) and (min-width: 768px) {
  /* .img-fluid {
    margin-top: -15% !important;
  } */
  .heroSection {
    padding-top: 8%;
    height: 120%;
  }
  .imgFluid {
    margin-top: -12%;
  }
  .ebookIntro{
  
    font-size: 20px;
}
.ebookLand{
 
  font-size: 55px;
  
}
}

@media only screen and (max-width: 1439px) and (min-width: 1024px) {
}

@media only screen and (min-width: 2560px) {
}
