.container-scroller {
  overflow: hidden;
}
.auth .auth-form-light {
  background: #ffffff;
}
.page-body-wrapper.full-page-wrapper {
  width: 100%;
  min-height: 100vh;
  padding-top: 0;
}
.page-body-wrapper {
  min-height: calc(100vh - 97px);
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  padding-left: 0;
  padding-right: 0;
  padding-top: 97px;
}

.content-wrapper {
  background: #f4f5f7;
  padding: 1.5rem 2.187rem 1.5rem 3.5rem;
  width: 100%;
  -webkit-flex-grow: 1;
  flex-grow: 1;
}

.auth .admin-logo2 {
  margin-bottom: 2rem;
}

.auth .admin-logo2 img {
  width: 90px;
}
.auth form .form-group {
  margin-bottom: 1.5rem;
}
input[type="email"]::placeholder {
  color: #c9c8c8;
}

input[type="password"]::placeholder {
  color: #c9c8c8;
}
input[type="checkbox"] {
  border-color: #ebedf2;
  accent-color: #ebedf2;
  background-color: #ebedf2;
  padding: 9px;
}
.sign-check .form-check-input {
  margin: 2px 10px 0 0px;
}
.sign-btn {
  background: #1f3bb3;
  color: #ffffff;
  line-height: 1.5;
  font-size: 14px;
  border-radius: 6px;
  margin-top: 12px;
  width: 38%;
  padding: 17px 0px 17px 45px;
  font-weight: 100;
}
.auth form .form-group .form-control {
  background: transparent;
  border-radius: 0;
  font-size: 0.9375rem;
  padding: 15px 0px 15px 30px;
}

.auth form .auth-form-btn {
  line-height: 1.5;
  font-size: 16px;
  padding: 8px 45px 15px 45px;
}
.btn-facebook {
  background: #7da0fa;
  color: #ffffff;
}
.btn-facebook:hover {
  background: #7da0fa;
  color: #ffffff;
}

.facebook-icon {
  font-size: 22px;
  color: white;
}
.facebook-text {
  color: white;
}
.sign-check {
  position: relative;
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 0;
  font-size: 14px;
  margin-left: 0px;
}
.auth form .auth-link {
  font-size: 0.812rem;
  color: black;
  font-weight: 100;
}
.account {
  font-size: 17px;
  font-weight: 100;
}
.started-text {
  font-size: 20px;
  font-weight: 400;
}
.Sign-continue {
  font-weight: 100;
}
.auth form .auth-form-btn4 {
  padding: 6px 47px 13px 47px;
  line-height: 1.5;
}
.btn4-facebook {
  background: #7DA0FA;
  color: #ffffff;
}
.btn4 {
  font-size: 0.875rem;
  line-height: 1;
  font-weight: 400;
  border-radius: 5px;
  border: 1px solid #7DA0FA;;
}
@media only screen and (max-width: 374px) and (min-width: 320px) {
  .sign-btn {
    width: 58%;
  }
  .sign-check {
    margin-left: -2px !important;
  }
}
@media only screen and (max-width: 424px) and (min-width: 375px) {
  .sign-btn {
    width: 48%;
  }
  .sign-check {
    margin-left: -1px !important;
  }
}
@media only screen and (max-width: 766px) and (min-width: 425px) {
  .sign-btn {
    width: 44%;
  }
  .sign-check {
    margin-left: -0px !important;
  }
}
@media only screen and (max-width: 1023px) and (min-width: 768px) {
  .sign-btn {
    width: 24%;
  }
  .sign-check {
    margin-left: 2px !important;
  }
}
@media only screen and (max-width: 1439px) and (min-width: 1024px) {
  .sign-btn {
    width: 70%;
  }
}
